<section>
	<h2 id="correlation_example">Correlation ≠ Causation</h2>
		<figure>
			<table>
				<caption>Motorcycle Helmets are Deadly</caption>
				<thead>
					<tr>
						<td></td>
						<th>Registration</th>
						<th>Reported Accidents</th>
						<th>Fatalties</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>States with Mandatory Helmet Use</th>
						<td>2,352,293</td>
						<td>52,270</td>
						<td>1,557</td>
					</tr>
					<tr>
						<th>States with Voluntary Helmet Use</th>
						<td>1,497,923</td>
						<td>29,062</td>
						<td>844</td>
					</tr>
				</tbody>
			</table>
			<figcaption>Source: Motorcycle Statistical Annual, Motorcycle Industry Council, Inc., 1994</figcaption>
		</figure>

</section>
