<section>
    <h2 id="">Truncated y axis</h2>
    <img src="assets/fox1.png" alt="graph with truncated y axis to mislead viewer into fearing increases in taxes, making a 13% increase look like 400%" style="width:40%" />
    <img src="assets/fox2.jpg" alt="graph with truncated y axis to mislead viewer into believing that border aprenhensions are drastically rising" style="width:50%" />
</section>
