<section>
	<h2 id="subsample-x">Sub-sampling of x values to manipulate trends</h2>
	<img src="assets/fox3.png" alt="graph with manipulated x axis to mislead viewer into believing that unemployment raised drasticaslly under a new administration" style="width:44%" />
    <img src="assets/fox3_real.png" alt="graph showing the same data without the x axis manipulated showing that unemployment spiked before the change in administration" style="width:50%" />
</section>
