<section>
	<h2 id="all-else-fails">When all else fails:<br>Make it up...</h2>
	<img src="assets/tattoo_stat1.png" alt="Anti-tattoo add: Ink hurts children. Studies shows that tattooed parents are 10 times more likely to neglect and abuse their children. If you know any tattooed parent, please call child services and save the children." style="width:40%" />
    <img src="assets/tattoo_stat2.jpg" alt="Anti-tattoo add: [Photo of a dad and his child with a sparkler] A tattooed father hands his infant son a 'joint' of cannabis. Cannabis kils 40000 people in the US every year. Tattooed parents are 400% more likely to introduce their children to drugs." style="width:54.5%" />
    <p>Source: Christians Against Tattoos</p>
</section>
