<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>9 out of 10 Statistics Are Bad for You</title>
		<link rel="stylesheet" href="{{assets}}/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="css/styles.min.css">
	</head>
	<body>
		<h1>9 out of 10 Statistics Are Bad for You</h1>
		<div class="reveal">
			<div class="slides">
				{{>01_intro}}
				{{>02_correlation}}
				{{>03_correlation_example}}
			</div>
		</div>
		<script src="{{assets}}/reveal.js/lib/js/head.min.js"></script>
		<script src="{{assets}}/reveal.js/js/reveal.js"></script>
		<script>
			Reveal.initialize();
		</script>
	</body>
</html>
